#include "topics.h"

namespace MQTTTopics
{
std::vector<TopicMessage> GetSubscribeTopics(Role role
    {%- for variable in variables -%}
    , const std::string& {{ variable }}
    {%- endfor -%}    
) {
    std::vector<TopicMessage> ret;
    
    switch(role) {
        {%- for role in roles %}
        case Role::role{{ role.capitalize() }}:
        {% for topic in topics -%}
        {% if role in topic['subscribe_roles'] -%}
        ret.emplace_back(std::move({{ utils.topic_get_name(topic.alias) }}({{ utils.topic_get_variables_values(topic) }})));
        {% endif -%}
        {% endfor -%}
        break;
        {%- if not loop.last%}
        {%endif -%}
        {%- endfor %}
    }

    return ret;
}

std::vector<TopicMessage> GetPublishTopics(Role role
    {%- for variable in variables -%}
    , const std::string& {{ variable }}
    {%- endfor -%}    
) {
    std::vector<TopicMessage> ret;
    
    switch(role) {
    {%- for role in roles %}
        case Role::role{{ role.capitalize() }}:
        {% for topic in topics -%}
        {% if role in topic['publish_roles'] -%}
        ret.emplace_back(std::move({{ utils.topic_get_name(topic.alias) }}({{ utils.topic_get_variables_values(topic) }})));
        {% endif -%}
        {% endfor -%}
        break;
        {%- if not loop.last%}
        {%endif -%}
        {%- endfor %}
    }
    
    return ret;
}

bool CanSubscribe(Role role, Topic topic) {
    switch(role) {
    {%- for role in roles %}
        case Role::role{{ role.capitalize() }}:
        switch(topic) {
            {%set ns = namespace(check=0) -%}
            {% for topic in topics -%}
            {%- if role in topic['subscribe_roles'] -%}
            {% set ns.check = 1 -%}
            case Topic::{{ utils.topic_enum_name(topic.alias) }}:
            {% endif -%}
            {% endfor -%}
            {% if ns.check != 0 -%}
            return true;
            break;
            {% endif -%}
            {% set ns.check = 0 %}
            {%- for topic in topics -%}
            {%- if not role in topic['subscribe_roles'] -%}
            {% set ns.check = 1 -%}
            case Topic::{{ utils.topic_enum_name(topic.alias) }}:
            {% endif -%}
            {% endfor -%}
            {% if ns.check != 0 -%}
            return false;
            break;
            {%- else %}
            {%- endif %}
        }
        break;
        {%- if not loop.last%}
        {%endif -%}
        {%- endfor %}
    }

    return false;
}

bool CanPublish(Role role, Topic topic) {
    switch(role) {
    {%- for role in roles %}
        case Role::role{{ role.capitalize() }}:
        switch(topic) {
            {%set ns = namespace(check=0) -%}
            {% for topic in topics -%}
            {%- if role in topic['publish_roles'] -%}
            {% set ns.check = 1 -%}
            case Topic::{{ utils.topic_enum_name(topic.alias) }}:
            {% endif -%}
            {% endfor -%}
            {% if ns.check != 0 -%}
            return true;
            break;
            {% endif -%}
            {% set ns.check = 0 %}
            {%- for topic in topics -%}
            {%- if not role in topic['publish_roles'] -%}
            {% set ns.check = 1 -%}
            case Topic::{{ utils.topic_enum_name(topic.alias) }}:
            {% endif -%}
            {% endfor -%}
            {% if ns.check != 0 -%}
            return false;
            break;
            {%- else %}
            {%- endif %}
        }
        break;
        {%- if not loop.last%}
        {%endif -%}
        {%- endfor %}
    }

    return false;
}

TopicMessage GetTopic(Topic topic
    {%- for variable in variables -%}
    , const std::string& {{ variable }}
    {%- endfor -%} 
) {
    switch(topic) {
        {% for topic in topics -%}
        case Topic::{{ utils.topic_enum_name(topic.alias) }}: 
            return {{ utils.topic_get_name(topic.alias) }}({{ utils.topic_get_variables_values(topic) }});
        {%- if not loop.last%}
        {%endif -%}
        {%- endfor %}
    }
}
{% for topic in topics %}
TopicMessage {{ utils.topic_get_name(topic.alias) }}({{ utils.topic_get_variables(topic) }}) {
    std::string topic = {{ utils.topic_topic_with_variables(topic) }};
    int qos = {{ topic.qos }};
    bool retain = {{ topic.retain|lower }};

    return TopicMessage{topic, qos, retain};
}
{% endfor -%}
}