#ifndef MQTT_TOPICS_H
#define MQTT_TOPICS_H

#include "MQTTTopicsList.h"

#include <vector>

class MQTTTopics
{
public:
    MQTTTopics() = delete;
    MQTTTopics(const MQTTTopics &) = delete;
    MQTTTopics &operator=(const MQTTTopics &) = delete;
    ~MQTTTopics() = delete;

public:

<topics>

public:
    static std::vector<TopicString> GetSubscribeTopics(unsigned int role);
    static std::vector<TopicString> GetPublishTopics(unsigned int role);
};

#endif
