#include "MQTTTopics.h"

<topics>

std::vector<TopicString> MQTTTopics::GetSubscribeTopics(unsigned int role) {
    std::vector<TopicString> ret;

    // IDK

    return ret;
}

std::vector<TopicString> MQTTTopics::GetPublishTopics(unsigned int role) {
    std::vector<TopicString> ret;

    // IDK

    return ret;
}
