#include "MqttTopics.h"

<topics>

std::vector<TopicString> MqttTopics::GetSubscribeTopics(unsigned int role) {
    std::vector<TopicString> ret;

    // IDK

    return ret;
}

std::vector<TopicString> MqttTopics::GetPublishTopics(unsigned int role) {
    std::vector<TopicString> ret;

    // IDK

    return ret;
}
