from enum import Enum, auto

class Topic(Enum):
    {%- for topic in topics %}
    {{ utils.topic_enum_name(topic.alias) }} = auto()
    {%- if not loop.last -%} , {%- endif -%}
    {%- endfor %}


{% for topic in topics %}
def {{ utils.topic_get_name(topic.alias) }}({{ utils.topic_get_variables_py(topic) }}):
    topic = {{ utils.topic_topic_with_variables(topic) }};
    return topic;

{% endfor -%}